.principal {
  color: #98CE54; }

.negro {
  color: black; }

.blanco {
  color: white; }

.gris {
  color: gray; }

.chico {
  width: 130px;
  height: 130px; }

.centrado {
  display: flex;
  justify-content: center; }

h1 {
  color: #98CE54; }

.bgImg {
  background-image: url(../assets/fondo.jpg);
  background-position: center; }

.textDecorado {
  text-decoration: none; }

.card {
  width: 12rem; }

.final {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center; }

.bgImgFooter {
  background-image: url(../assets/footer.jpg);
  background-position: center; }
