.chico{
	@include medidas (130px,130px);
}
.centrado{
	display: flex;
	justify-content: center;
}	
h1{
	color: map-get($colores, principal);
}
.bgImg{
	background-image: url(../assets/fondo.jpg);
	background-position:center;
}